/* body{ */
/* background-image: url("https://bdaecpm.files.wordpress.com/2015/07/place-kleber.jpg"); */
/* background-size: cover; */
/*   height: auto; */
/*   z-index: -1; */

/* } */
.btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: black; /* Green */
  color: white;
}

.btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


  
h1{text-align:center;
font-family: verdana,impact;}

/* .irc_mi{ */
/* background-size: cover; */
/* no-repeat; */
/* width:100%;}  */

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://bdaecpm.files.wordpress.com/2015/07/place-kleber.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.font-weight-light{font-family: "courrier new";}
.lead{ font-family: verdana}
