.dropdown-menu dropdown-menu-right, .form-group, #form{ font-family: Verdana;
text-align: left;

}


 div #b1{text-align:center !important;
font-family: arial;}

.checkbox{text-align: center;}